lzc-sdk-version: 0.1
name: rustfs
package: cloud.lazycat.app.sebastiaan.rustfs
version: 1.0.0
application:
  routes:
    - /=http://rustfs:9001
  subdomain: rustfs
  background_task: true
  public_path:
    - /api/public
  ingress:
    # S3 API
    - protocol: tcp
      port: 9000
      service: rustfs
    # Console
    - protocol: tcp
      port: 9001
      service: rustfs
services:
  rustfs:
    restart: unless-stopped
    image: rustfs/rustfs:latest
    binds:
      - /lzcapp/var/data:/data
      - /lzcapp/var/app/logs:/app/logs
    environment:
      - RUSTFS_ACCESS_KEY={{ .RUSTFS_ACCESS_KEY }}
      - RUSTFS_SECRET_KEY={{ .RUSTFS_SECRET_KEY }}
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_SERVER_DOMAINS=${LAZYCAT_APP_DOMAIN}
      - RUSTFS_ADDRESS=:9000
